<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room Configurations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<div class="container">
<h1>Room "<%=roomName%>" Configuration</h1>

<div class="card-panel grey lighten-5 z-depth-1">
    <form action="/room/room_configuration/changeName/<%=roomID%>" method="post">
        <div class="input-field valign-wrapper">
            <label for="addUserLabel">Room Name:</label><br>
            <br>
            <input type="text" id="roomName" name = "roomName">
            <div class="card-action">
                <button class="col s1 right-align waves-effect waves-light btn" type="submit">
                    Update Name
                </button>
            </div>
        </div>
    </form>
</div>

<div class="card-panel grey lighten-5 z-depth-1">
    <form action="/room/room_configuration/addUser/<%=roomID%>" method="post">
        <div class="input-field valign-wrapper">
            <label for="addUserLabel">Add User:</label><br>
            <br>
            <input type="text" id="addUser" name="addUser">
            <div class="card-action">
                <button class="col s1 right-align waves-effect waves-light btn" type="submit">
                    Add
                </button>
            </div>
        </div>
    </form>
</div>


<h2>Current Users Are:</h2>
<div class="users row">
    <% roomUsers.forEach(user => { %>
        <div class="card-panel grey lighten-5 z-depth-1">

            <form action="/room/room_configuration/removeUser/<%=roomID%>" method="post">
                <div class="valign-wrapper">
                    <h5 class="col left-align"><%= user.username %></h5>
                    <input type="hidden" value="<%=user.username%>" name="removeUser">
                    <button class="col s1 right-align waves-effect waves-light btn" type="submit">
                        Remove
                    </button>
                </div>
            </form>

        </div>
    <% }) %>
</div>
</div>
</body>
</html>